<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Μητρώο Υποστηρικτικών δομών - Μη Σχολικών Μονάδων</title>
    </head>
    <body>
        <h1>Σφάλμα</h1>

        <div>
            O υπάρχων λογαριασμός δεν έχει δικαίωμα πρόσβασης στην εφαρμογή "Μητρώο Υποστηρικτικών δομών - Μη Σχολικών Μονάδων" (ή υπάρχει τεχνικό πρόβλημα που δεν επιτρέπει την πιστοποίηση του). Παρακαλούμε δοκιμάστε αργότερα.<br />
            <a href="{{ url('fos_user_security_logout', {'service': 'https://mm.sch.gr/sus/'}) }}">Σύνδεση ως διαφορετικός χρήστης</a>
        </div>
    </body>
</html>
