{% extends 'SonataAdminBundle::empty_layout.html.twig' %}

{% block sonata_page_content %}
    <h1>Σφάλμα</h1>

    <div>
        O υπάρχων λογαριασμός δεν έχει δικαίωμα πρόσβασης στην εφαρμογή "Μητρώο Υποστηρικτικών δομών - Μη Σχολικών Μονάδων" (ή υπάρχει τεχνικό πρόβλημα που δεν επιτρέπει την πιστοποίηση του).<BR />
        Η πρόσβαση επιτρέπεται μόνο με τον επίσημο λογαριασμό μη σχολικής μονάδας.<BR />
        <BR />
        Για περισσότερες πληροφορίες, δείτε το <a href="{{ asset('user_guide_SUS.pdf') }}">Εγχειρίδιο Χρήσης</a>.
        <BR />
        <BR />
        <a href="{{ url('fos_user_security_logout') }}">Αποσύνδεση</a>
    </div>
{% endblock %}