<!DOCTYPE html>
{% if status_code == 403 %}
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Μητρώο Υποστηρικτικών δομών - Μη Σχολικών Μονάδων</title>
        </head>
        <body>
            <h1>Σφάλμα</h1>

            <div>
                O υπάρχων λογαριασμός δεν έχει δικαίωμα πρόσβασης στην εφαρμογή "Μητρώο Υποστηρικτικών δομών - Μη Σχολικών Μονάδων" (ή υπάρχει τεχνικό πρόβλημα που δεν επιτρέπει την πιστοποίηση του). Παρακαλούμε δοκιμάστε αργότερα.<br />
                <a href="{{ url('fos_user_security_logout') }}">Αποσύνδεση</a>
            </div>
        </body>
    </html>
{% else %}
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>An Error Occurred: {{ status_text }}</title>
        </head>
        <body>
            <h1>Oops! An Error Occurred</h1>
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

            <div>
                Something is broken. Please e-mail us at [email] and let us know
                what you were doing when this error occurred. We will fix it as soon
                as possible. Sorry for any inconvenience caused.
            </div>
        </body>
    </html>
{% endif %}
